# ==============================================================================
# Version shipped with Cumulux MX build 3094, plus some lines copied from mine
# ==============================================================================
# NOTE: From https://www.raspberrypi.org/documentation/linux/usage/systemd.md
#    sudo cp cumulusmx.service /etc/systemd/system/cumulusmx.service
#    sudo systemctl start cumulusmx.service
# After it appears to work correctly, you may...
#    sudo systemctl enable cumulusmx.service
#
# If you have to copy over another copy you'll see a message to do a
#    sudo systemctl daemon-reload
#
# ==============================================================================
[Unit]
Description=CumulusMX service
Documentation=https://cumuluswiki.org/a/Main_Page
After=network-online.target

[Service]
# Environment=MONO_GC_PARAMS=nursery-size=16m		# from my version
User=root
Group=root
WorkingDirectory=/home/pi/CumulusMX
ExecStart=/usr/bin/mono-service /home/pi/CumulusMX/CumulusMX.exe -service
Type=forking
Restart=always

RestartSec=60
StartLimitInterval=700
StartLimitBurst=10

ExecStopPost=/bin/rm /tmp/CumulusMX.exe.lock

[Install]
WantedBy=multi-user.target
# RequiredBy=multi-user.target				# from my version


#========================================================================================================================================================================
# NOTE:  "Guts" of my rendition, vesus what shipped with CumulusMX
#
# [Unit]										[Unit]
# Description=CumulusMX Service							      |	Description=CumulusMX service
#										      >	Documentation=https://cumuluswiki.org/a/Main_Page
#										      >	After=network-online.target
#
# [Service]										[Service]
# Environment=MONO_GC_PARAMS=nursery-size=16m					      |	User=root
# WorkingDirectory=/mnt/root/home/pi/Cumulus_MX					      |	Group=root
# ExecStart=/usr/bin/mono /mnt/root/home/pi/Cumulus_MX/CumulusMX.exe		      |	ExecStart=/usr/bin/mono-service -d:/home/install/CumulusMX CumulusMX.exe -service
# Type=simple									      |	Type=forking
# Restart=always								      |	ExecStopPost=/bin/rm /tmp/CumulusMX.exe.lock
#										      <
# RestartSec=60									      <
# StartLimitInterval=700							      <
# StartLimitBurst=10								      <
#
# [Install]										[Install]
# RequiredBy=multi-user.target							      |	WantedBy=multi-user.target
#========================================================================================================================================================================


# https://fedoramagazine.org/what-is-an-init-system/
# ==============================================================================
# Sat  3 Oct 16:21:15 EDT 2020
# ==============================================================================
#---  # Service for starting CumulusMX
#---  #
#---  # /lib/systemd/system/cumulusmx.service
#---  #
#---  # http://sandaysoft.com/forum/viewtopic.php?f=27&t=16087
#---  #
#---  # https://www.freedesktop.org/software/systemd/man/systemd.unit.html
#---  # http://www.diegoacuna.me/how-to-run-a-script-as-a-service-in-raspberry-pi-raspbian-jessie/
#---
#---
#---  # http://sandaysoft.com/forum/viewtopic.php?f=27&t=16087
#---  #
#---
#---  # https://www.freedesktop.org/software/systemd/man/systemd.unit.html
#---  # -------------------------------------------------------
#---  [Unit]
#---  Description=CumulusMX Service
#---
#---  # https://www.freedesktop.org/software/systemd/man/systemd.service.html
#---  # -------------------------------------------------------
#---  [Service]
#---  # https://stackoverflow.com/questions/18464295/degraded-allocation-consider-increasing-nursery-size-if-the-warning-persists
#---  Environment=MONO_GC_PARAMS=nursery-size=16m
#---  ### Type=forking
#---  Type=simple
#---  # User=pi
#---  # Group=pi
#---  ### WorkingDirectory=/opt/CumulusMX
#---  ### WorkingDirectory=/home/pi/Cumulus_MX
#---  ###   Relocated 09/04/2017
#---  WorkingDirectory=/mnt/root/home/pi/Cumulus_MX
#---  ### ExecStart=/opt/mono/bin/mono-service CumulusMX.exe
#---  ### ExecStart=/usr/bin/nohup /usr/bin/mono /home/pi/Cumulus_MX/CumulusMX.exe &
#---  ExecStart=/usr/bin/mono /mnt/root/home/pi/Cumulus_MX/CumulusMX.exe
#---  Restart=always
#---
#---  # https://unix.stackexchange.com/questions/316114/service-start-request-repeated-too-quickly-refusing-to-start
#---  # https://unix.stackexchange.com/questions/289629/systemd-restart-always-is-not-honored
#---  #
#---  RestartSec=60
#---  # StartLimitIntervalSec=interval, StartLimitBurst=burst
#---  StartLimitInterval=700
#---  StartLimitBurst=10
#---  #  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#---  # https://serverfault.com/questions/736624/systemd-service-automatic-restart-after-startlimitinterval
#---  #  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#---  # May not be strictly needed according to
#---  # https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.9
#---  # Used by 'systemctl enable' to set up a symbolic link
#---  # -------------------------------------------------------
#---  [Install]
#---  # After=multi-user.target
#---
#---  # NOTE: This may be needed for Stretch ... Not required for Jesse
#---  RequiredBy=multi-user.target
#---  # Without the above, this service wasn't starting on boot up.  Enabling displayed...
#---  # Created symlink /etc/systemd/system/multi-user.target.requires/webcam_north.service → /lib/systemd/system/webcam_north.service.
#---
#---  # WantedBy=multi-user.target
#---
#---  # I have done 'sudo systemctl enable cumulusmx' [worked fine] and then 'sudo systemctl start cumulusmx' but this does not quite work.
#---  #
#---  #
#---  ##############################################################################
#---  #
#---  # Need to look at these Wants and After clauses
#---  #
#---  ##############################################################################
#---
#---  ################################################################################ [Unit]
#---  ################################################################################ Wants=network-online.target
#---  ################################################################################ After=network.target network-online.target
#---
#---  ###     [Service]
#---  ###     WorkingDirectory=/home/pi/CumulusMX
#---  ###     ExecStart=/usr/bin/mono /home/pi/CumulusMX/CumulusMX.exe
#---
#---  #
#---  ##############################################################################
#---  #   Filesystem     1K-blocks     Used Available Use% Mounted on
#---  #   tmpfs             473864        0    473864   0% /sys/fs/cgroup
#---  #   /dev/mmcblk0p6     67434    21530     45904  32% /boot
#---  #   tmpfs              94776        0     94776   0% /run/user/1000
#---  #   /dev/sda1      244196348 38457960 205738388  16% /media/pi/Marie
