# Service for starting Weather Station Watchdog
# ==============================================================================
# NOTE: From https://www.raspberrypi.org/documentation/linux/usage/systemd.md
#    sudo cp wxwatchdog.service /etc/systemd/system/
#    sudo systemctl start wxwatchdog.service
# After it appears to work correctly, you may...
#    sudo systemctl enable wxwatchdog.service
#
# If you have to copy over another copy you'll see a message to do a
#    sudo systemctl daemon-reload
#
# ==============================================================================
#
# https://fedoramagazine.org/what-is-an-init-system/
# https://docs.fedoraproject.org/en-US/quick-docs/understanding-and-administering-systemd/index.html
# https://serverfault.com/questions/949352/preview-or-debug-dry-run-or-trace-systemctl-actions-start-stop-restart-etc
# https://fedoraproject.org/wiki/How_to_debug_Systemd_problems
# https://www.certdepot.net/systemd-service-debugging-tips/
# 
#
#
# https://www.freedesktop.org/software/systemd/man/journalctl.html
# -------------------------------------------------------
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# -------------------------------------------------------
[Unit]
Description=WX Station Watchdog Service

### ???   After=cumulusmx

# -------------------------------------------------------
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# -------------------------------------------------------
[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/wxaux

ExecStart=/usr/bin/python3 -u /home/pi/wxaux/watchdog.py

###  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
###  https://unix.stackexchange.com/questions/316114/service-start-request-repeated-too-quickly-refusing-to-start
###  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
###  https://unix.stackexchange.com/questions/289629/systemd-restart-always-is-not-honored
###  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Restart=always

RestartSec=60
StartLimitInterval=700
StartLimitBurst=10


# -------------------------------------------------------
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.9
# Used by 'systemctl enable' to set up a symbolic link
# -------------------------------------------------------
[Install]
# After=cumulusmx.service

# NOTE: This may be needed for Stretch ... Not required for Jesse
RequiredBy=multi-user.target
# Without the above, this service wasn't starting on boot up.  Enabling displayed...
# Created symlink /etc/systemd/system/multi-user.target.requires/webcam_north.service → /lib/systemd/system/webcam_north.service.

# -------------------------------------------------------
# http://sandaysoft.com/forum/viewtopic.php?f=27&t=16087
# I have done 'sudo systemctl enable cumulusmx' [worked fine]
# and then 'sudo systemctl start cumulusmx' but this does not
# quite work.
# -------------------------------------------------------
